@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    margin:none}

header{
    background-color: #2980b9;
    color: #fff;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

header h1{
    width: 100%;
    text-align: center;
}

header input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 18px;
}

header span{
    padding-left: 10px;
    font-size: 35px;
    cursor: pointer;
    
}

ul{margin: 0;
     padding: 0;}

ul li{
    cursor: pointer;
    padding: 10px 0;
    
    list-style-type:none ;
    font-size: 18px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

ul li:nth-child(odd) {background-color:beige;}
ul li:hover{background-color: grey;}
ul li span {margin-left: 2%; width: 60%; }
ul li i {margin-left: 5%; width: 10%; text-align: center;}
.close {color: #f03333;}

